<!DOCTYPE html>
<html>
<head>
    <title>Trading app</title>
</head>
<body>
<h1><a href="{{ path('homepage') }}">{{ page_title }}</a></h1>

<ul id="navigation">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('homepage') }}">Portfolio</a></li>
        <li><a href="{{ path('homepage') }}">Financials</a></li>
        <li><a href="{{ path('homepage') }}">Screener</a></li>
        <li><a href="{{ path('homepage') }}">Profile</a></li>
</ul>
</body>
</html>
